.parrafo {
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 200%;
    color: white;
    -webkit-text-stroke: 2px #000;
}

.titulo{
    margin-top: 11%;
    color: chocolate;
    font-size: 450%;
}

.primero{
    width: 100%;
    background-color: aqua;
    background-image: url('relatos_terror_cementerios.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}
